* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.App {
    max-width: 1024px;
    margin: 50px auto 0;
    padding: 2.5% 5%;
    border-radius: 15px;
    background-color: #333;
    color: white;
    border: 1px solid black;
}

h1 {
    margin-bottom: 30px;
}

ul {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

label {
    width: 100%;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 300px;
    line-height: 36px;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    width: 150px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
